.brand {
  user-select: none;
  height: 4rem;
  background-color: #388e3c;
  width: 100%;
  display: flex;
  align-items: center;
}

.brand-logo {
  height: 3rem;
  padding: .5rem;
}

.brand-name {
  margin: 0 .5rem;
  color: #fff;
  font-size: 1.75rem;
  font-weight: 500;
}
