.player-controls {
  margin: 2rem 1rem 1rem;
}

.is-smallscreen .player-controls {
  margin: 2rem .75rem .75rem;
}

.player-controls .controls .button > .button-shell {
  padding: 0;
  margin: 0 .5rem;
}

.player-controls .controls .button > .button-shell .button-icon {
  font-size: 2rem;
}

.player-controls .controls .button.button-large > .button-shell .button-icon {
  font-size: 3rem;
}
