.button-group {
  display: flex;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  box-sizing: border-box;
}

span.button-group {
  display: inline-flex;
}

.button-group.align-right,
.button-group.justify-end {
  justify-content: flex-end;
}

.button-group.align-center,
.button-group.justify-center {
  justify-content: center;
}

.button-group.justify-between {
  justify-content: space-between;
}

.button-group.justify-around {
  display: flex;
  justify-content: space-around;
}

.box-content > .button-group {
  padding: 0.25rem 1rem;
}

.is-smallscreen .box-content > .button-group {
  padding: 0.25rem 0.75rem;
}

.modal-footer > .button-group {
  padding: 0 1.25rem;
}

.is-smallscreen .modal-footer > .button-group {
  padding: 0 1rem;
}

.modal-footer > .button-group > button:first-child > .button-shell {
  margin-left: 0;
}

.modal-footer > .button-group > button:last-child > .button-shell {
  margin-right: 0;
}
