.field {
  margin: 1.25rem;
  flex: 1;
}

.column > .field,
.is-smallscreen .column > .field {
  margin: 1.25rem 0rem;
}

.is-smallscreen .field {
  margin: 1.25rem 1rem;
}

.page-header .field {
  flex: 1;
}

th > .field,
td > .field {
  margin: 0 -0.5rem;
  font-weight: 400;
}

.is-smallscreen th > .field,
.is-smallscreen td > .field {
  margin: 0;
}

.field-label {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  margin-bottom: 0.25rem;
  font-size: 0.85rem;
  font-weight: 500;
  text-transform: uppercase;
}

.field-label > label {
  display: block;
  width: 100%;
}

.field-input input,
.field-input textarea,
.field-input select {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem;
  background-color: #fcfcfc;
  border: 1px solid #cfd8dc;
  transition-property: border-color, background-color;
  transition-duration: 150ms;
  border-radius: 0.2rem;
  color: #424242;
  height: 2.5rem;
}

.is-smallscreen .field-input input,
.is-smallscreen .field-input textarea,
.is-smallscreen .field-input select {
  padding: 0 0.75rem;
}

.page-header .field-input input,
.page-header .field-input select {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.1);
  color: rgb(255, 255, 255);
}

.page-header .field-input input:focus,
.page-header .field-input select:focus {
  background-color: rgba(255, 255, 255, 0.18);
  border-color: rgba(255, 255, 255, 0.09);
  color: rgb(255, 255, 255);
}

.field-input textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 4rem;
}

.field-input input:focus,
.field-input textarea:focus,
.field-input select:focus {
  border-color: #29b6f6;
  background-color: #ffffff;
  outline: none;
}

.input-sets {
  box-sizing: border-box;
  border: 1px solid #cfd8dc;
  border-radius: 0.2rem;
  padding: 0.4rem 0.8rem;
}

.input-sets .input-sets {
  border: none;
}

.input-sets > .input-sets {
  padding: 0;
}

.input-sets .field,
.is-smallscreen .input-sets .field {
  margin: 0;
  height: 2.5rem;
  display: flex;
  align-items: center;
}

.input-sets .field > .field-label {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-size: 0.85rem;
  font-weight: 500;
  text-transform: none;
  padding-right: 0.3rem;
}

.input-sets .field > .field-input {
  flex: 1;
}

.input-sets .field > .field-input input,
.input-sets .field > .field-input textarea,
.input-sets .field > .field-input select {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  padding: 0.2rem;
  font-family: inherit;
  font-size: 1rem;
  border: none;
  border-bottom: 1px dotted #9e9e9e;
  background-color: unset;
}

.input-sets .field > .field-input input:focus,
.input-sets .field > .field-input textarea:focus,
.input-sets .field > .field-input select:focus {
  border-bottom-color: #29b6f6;
  outline: none;
}

.field-info {
  margin: 0;
  margin-bottom: 0.25rem;
  font-size: 0.9rem;
  font-style: italic;
}
