.tabs {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  display: block;
  width: inherit;
}

.is-smallscreen .tabs {
  overflow-y: scroll;
}

.tab-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.tab-item {
  cursor: pointer; /* accessibility reason */
  padding: 0 1.5rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.tab-item.active {
  cursor: default;
}

.is-smallscreen .tab-item {
  height: 3.5rem;
}

.page-content.padding > .tabs.primary {
  position: relative;
  top: -1.5rem;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

.is-smallscreen .page-content.padding > .tabs.primary {
  position: relative;
  top: -0.75rem;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

.tabs.primary .tab-cover {
  background-color: #43a047;
}

.tabs.primary .tab-item {
  background-color: #43a047;
  color: #ffffff;
  border-left: 1px solid #43a047;
  border-right: 1px solid #43a047;
}

.tabs.primary .tab-item:hover {
  background-color: #4caf50;
}

.tabs.primary .tab-item.active {
  background-color: #ffffff;
  color: #2e7d32;
  font-weight: 500;
  position: relative;
  bottom: -1px;
  border-color: #ffffff;
}

.tabs.primary .tab-item.previous-active {
  border-bottom-right-radius: 0.5rem;
}

.tabs.primary .tab-item.active + .tab-item,
.tabs.primary .tab-item.active + .tab-cover {
  border-bottom-left-radius: 0.5rem;
}

.tabs.primary:last-of-type .tab-item.active {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}

.tabs.secondary {
  background-color: #ffffff;
  color: #424242;
}

.page-content.padding > .tabs.secondary {
  position: relative;
  top: -1.5rem;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

.is-smallscreen .page-content.padding > .tabs.secondary {
  position: relative;
  top: -0.75rem;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

.tabs.secondary .tab-item {
  border-top: 0.3rem solid #fff;
  border-bottom: 0.3rem solid #fff;
}

.tabs.secondary .tab-item:hover {
  border-bottom-color: #bdbdbd;
}

.tabs.secondary .tab-item.active {
  border-bottom-color: #616161;
  font-weight: 500;
}
