@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 300;
  src:
    local('Fira Sans Light Italic'),
    local('FiraSans-LightItalic'),
    url('/static/fonts/FiraSans-LightItalic.woff2') format('woff2'),
    url('/static/fonts/FiraSans-LightItalic.woff') format('woff'),
    url('/static/fonts/FiraSans-LightItalic.ttf') format('ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 400;
  src:
    local('Fira Sans Italic'),
    local('FiraSans-Italic'),
    url('/static/fonts/FiraSans-Italic.woff2') format('woff2'),
    url('/static/fonts/FiraSans-Italic.woff') format('woff'),
    url('/static/fonts/FiraSans-Italic.ttf') format('ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 500;
  src:
    local('Fira Sans Medium Italic'),
    local('FiraSans-MediumItalic'),
    url('/static/fonts/FiraSans-MediumItalic.woff2') format('woff2'),
    url('/static/fonts/FiraSans-MediumItalic.woff') format('woff'),
    url('/static/fonts/FiraSans-MediumItalic.ttf') format('ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  src:
    local('Fira Sans Light'),
    local('FiraSans-Light'),
    url('/static/fonts/FiraSans-Light.woff2') format('woff2'),
    url('/static/fonts/FiraSans-Light.woff') format('woff'),
    url('/static/fonts/FiraSans-Light.ttf') format('ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src:
    local('Fira Sans Regular'),
    local('FiraSans-Regular'),
    url('/static/fonts/FiraSans-Regular.woff2') format('woff2'),
    url('/static/fonts/FiraSans-Regular.woff') format('woff'),
    url('/static/fonts/FiraSans-Regular.ttf') format('ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src:
    local('Fira Sans Medium'),
    local('FiraSans-Medium'),
    url('/static/fonts/FiraSans-Medium.woff2') format('woff2'),
    url('/static/fonts/FiraSans-Medium.woff') format('woff'),
    url('/static/fonts/FiraSans-Medium.ttf') format('ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

html, body, .tampan {
  font-family: 'Fira Sans', 'Ubuntu', 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

table, p, h1, h2, h3, h4, h5, h6 {
  user-select: none;
}

.menu-link {
  color: #616161;
}

.menu-link:hover:not(.router-link-active) {
  color: #000000;
}

.menu-link.router-link-active {
  background-color: unset;
  border-color: #FFFFFF;
}
