#mediaplayer {
  background-color: #F1F1F1;
}

#mediaplayer .page-content {
  display: flex;
  flex-direction: column;
}

#mediaplayer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#mediaplayer > .list-block {
  flex: 1;
  padding: 0 1rem;
}

.is-smallscreen #mediaplayer > .list-block {
  padding: 0 .75rem;
}

#mediaplayer .list-block {
  flex: 1;
}

#mediaplayer .list-block-item {
  padding: .5rem;
}

#mediaplayer .list-block-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#mediaplayer .list-block-content.active {
  background-color: #F1F1F1;
}

#mediaplayer .list-block-detail {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  width: 75%;
  width: calc(100% - 50px);
}

#mediaplayer .list-block-label {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  font-size: 1.1rem;
}

.is-smallscreen #mediaplayer .list-block-label {
  font-size: 1rem;
  min-height: 1rem;
}

#mediaplayer .list-block-description {
  margin-top: .5rem;
  color: #616161;
}

.is-smallscreen #mediaplayer .list-block-description {
  font-size: .96rem;
}
