#playlistitem .list-block-content.active {
  background-color: #eeeeee;
}

#playlistitem .list-block-content.selected {
  border: 1px solid #212121;
}

#playlistitem .audio-controls {
  display: flex;
  padding: 0 1.25rem;
  margin-bottom: 1rem;
  margin-top: -1rem;
}

.is-smallscreen #playlistitem .audio-controls {
  padding: 0 1rem;
}
