.upgrading_overlay {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 300;
}

.upgrading_overlay p {
  color: #FFFFFF;
  font-size: 1.5rem;
  font-style: italic;
  text-shadow: .1rem .1rem .1rem #000000;
}
