@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 300;
  src:
    local('Fira Sans Light Italic'),
    local('FiraSans-LightItalic'),
    url('/static/fonts/FiraSans-LightItalic.woff2') format('woff2'),
    url('/static/fonts/FiraSans-LightItalic.woff') format('woff'),
    url('/static/fonts/FiraSans-LightItalic.ttf') format('ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 400;
  src:
    local('Fira Sans Italic'),
    local('FiraSans-Italic'),
    url('/static/fonts/FiraSans-Italic.woff2') format('woff2'),
    url('/static/fonts/FiraSans-Italic.woff') format('woff'),
    url('/static/fonts/FiraSans-Italic.ttf') format('ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 500;
  src:
    local('Fira Sans Medium Italic'),
    local('FiraSans-MediumItalic'),
    url('/static/fonts/FiraSans-MediumItalic.woff2') format('woff2'),
    url('/static/fonts/FiraSans-MediumItalic.woff') format('woff'),
    url('/static/fonts/FiraSans-MediumItalic.ttf') format('ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  src:
    local('Fira Sans Light'),
    local('FiraSans-Light'),
    url('/static/fonts/FiraSans-Light.woff2') format('woff2'),
    url('/static/fonts/FiraSans-Light.woff') format('woff'),
    url('/static/fonts/FiraSans-Light.ttf') format('ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src:
    local('Fira Sans Regular'),
    local('FiraSans-Regular'),
    url('/static/fonts/FiraSans-Regular.woff2') format('woff2'),
    url('/static/fonts/FiraSans-Regular.woff') format('woff'),
    url('/static/fonts/FiraSans-Regular.ttf') format('ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src:
    local('Fira Sans Medium'),
    local('FiraSans-Medium'),
    url('/static/fonts/FiraSans-Medium.woff2') format('woff2'),
    url('/static/fonts/FiraSans-Medium.woff') format('woff'),
    url('/static/fonts/FiraSans-Medium.ttf') format('ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

html, body {
  box-sizing: border-box;
  color: #212121;
  font-family: 'Fira Sans', 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: .5rem;
}

.webpage {
  box-sizing: border-box;
  max-width: 640px;
  margin: auto;
  padding: .75rem;
  background-color: #FFFFFF;
  border-radius: .25rem;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),
  0 1px 10px 0 rgba(0,0,0,0.12),
  0 2px 4px -1px rgba(0,0,0,0.3);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  color: #424242;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child, 
h6:first-child {
  margin-top: .5rem;
}

h1 {
  font-size: 1.6rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.3rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.1rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

p {
  line-height: 1.5;
  margin-top: .75rem;
  margin-bottom: .75rem;
}

p.note {
  margin-top: 0;
  color: #424242;
  font-size: .85rem;
}

ol {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 2rem;
}

a {
  color: #0D47A1;
  text-decoration: none;
}

a.note-ref, a.note-ref:hover {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #1A237E;
}

strong {
  font-weight: 500;
}
